<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cliver.BotCustomization.Custom" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.BotCustomization.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.BotCustomization.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Cliver.BotCustomization.Properties.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Cliver.BotCustomization.Properties.Input" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cliver.BotCustomization.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.BotCustomization.Custom>
            <setting name="Email" serializeAs="String">
                <value>L-J-smith@prodigy.net</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>samHell1972</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.mail.att.net</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="UsersFile" serializeAs="String">
                <value>users.txt</value>
            </setting>
        </Cliver.BotCustomization.Custom>
        <Cliver.BotCustomization.Settings>
            <setting name="AlertFactor" serializeAs="String">
                <value>0.88</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>L-J-smith@prodigy.net</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>BOX2531</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.mail.att.net</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
        </Cliver.BotCustomization.Settings>
        <Cliver.BotCustomization.Properties.App>
            <setting name="CrawlerHostPath" serializeAs="String">
                <value>..\..\..\CrawlerManager</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </Cliver.BotCustomization.Properties.App>
        <Cliver.BotCustomization.Properties.Global>
            <setting name="DllPath" serializeAs="String">
                <value>@"..\..\..\CrawlerManager\"</value>
            </setting>
        </Cliver.BotCustomization.Properties.Global>
        <Cliver.BotCustomization.Properties.Input>
            <setting name="CitiesFile" serializeAs="String">
                <value>cities.txt</value>
            </setting>
            <setting name="GoogleUrl" serializeAs="String">
                <value>http://www.google.com</value>
            </setting>
            <setting name="MaxListingNumberPerSearch" serializeAs="String">
                <value>30</value>
            </setting>
        </Cliver.BotCustomization.Properties.Input>
    </userSettings>
    <applicationSettings>
        <Cliver.BotCustomization.Properties.App>
            <setting name="RegistrySubkey" serializeAs="String">
                <value>SOFTWARE\CliverSoft\CliverBot</value>
            </setting>
        </Cliver.BotCustomization.Properties.App>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
